<div *ngIf="personajes.length > 0; else loading" class="container-fluid mt-4">
  <div class="row d-flex justify-content-center">
    <div
      class="card carta m-3 p-0 float-start"
      *ngFor="let personaje of personajes"
    >
      <img
        src="{{ personaje.image }}"
        class="card-img-top"
        alt="{{ personaje.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ personaje.name }}</h5>
        <div class="row">
          <a
            class="btn btn-warning col mx-4"
            routerLink="/characters/details/{{ personaje.id }}"
            >Ver detalles</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div
    class="container d-flex justify-content-center align-items-center loading_container"
  >
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<!------------ PAGINACIÓN ------------->
<div class="row my-4" *ngIf="personajes.length > 0">
  <div class="col d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="paginaAnterior()">Anterior</a>
      </li>
      <li class="page-item" *ngIf="pageIndex > 2">
        <a class="page-link" (click)="seleccionarPagina(pageIndex - 2)">{{
          pageIndex - 2
        }}</a>
      </li>
      <li class="page-item" *ngIf="pageIndex > 1">
        <a class="page-link" (click)="seleccionarPagina(pageIndex - 1)">{{
          pageIndex - 1
        }}</a>
      </li>
      <li class="page-item">
        <a class="page-link">{{ pageIndex }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="seleccionarPagina(pageIndex + 1)">{{
          pageIndex + 1
        }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="seleccionarPagina(pageIndex + 2)">{{
          pageIndex + 2
        }}</a>
      </li>
      <li class="page-item" (click)="siguientePagina()">
        <a class="page-link">Siguiente</a>
      </li>
    </ul>
  </div>
</div>
